 body {
    background-image: url("https://images5.alphacoders.com/648/648114.png");
    background-size: contain; 
  }

  #ds {
    background-image: url("https://m.media-amazon.com/images/I/811Ap7oY41L._AC_SL1500_.jpg");
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    
    position: relative;
    left: 5%;
    bottom: 5%;
    
    width: 90%;  
    height: 700px;

}

#battle {
    background-image: url("https://th.bing.com/th/id/R.0a3d93cc598b68dfb17768a8b318084e?rik=pkAwrBeA39EvSw&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: 400px 250px; 
    background-position: center; 
    
    position: relative;
    left: 32.1%;
    bottom: 760px;
    
    width: 500px;  
    height: 500px; 
}



